<div class="data-form">
    <form action="/events/create" method="POST">
      <h2>Create a new event:</h2>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required><br>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea><br>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required><br>
      
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" required>
      
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate" required><br>
      
      <label for="isOnline">Is Online:</label>
      <input type="checkbox" id="isOnline" name="isOnline" value="true"><br>
      
      <label for="registrationLink">Registration Link:</label>
      <input type="text" id="registrationLink" name="registrationLink"><br>
      
      <button type="submit">Update</button>
      
    </form>
  </div>