<body>
    <div id="LargeTextBox">
      <p id="title">We Are Proud</p>
      <p3>Students & Alumni of <span id="LargeFont">Brandeis University</span></p3>
      <p>This is the page for about information</p>
    </div>
</body>

