
    <div id="LargeTextBox">
      <p id="title">We Are Proud</p>
      <p3>Students & Alumni of <span id="LargeFont">Brandeis University</span></p3>
      <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities of students and alumni to stay connected to Brandeis and each other.</p>
    </div>

